*{
    margin: 0;
    padding: 0;
}
.main{
    width: 1000px;
    margin: 0 auto;
    border-radius: 30px;
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 50px;
    flex-direction: column;
    gap: 20px;
    color: #fff;
    margin-top: 100px;
}
h1{
    color: skyblue;
    text-align: center;
}
.result{
    display: flex;
    width: 100%;
}
input{
    cursor: pointer;
}
.result input{
    width: 100%;
    border-radius: 20px;
    padding: 10px 15px;
    outline: none;
    border: 2px solid sandybrown;
    background-color: #fff;
    transition: 0.5s ease-in-out;

}
.result input:hover{
    border-color: green;
    border-width: 5px;
}
.result .copy{
    background-color: #fff;

}
.adjust{
    display: flex;
    justify-content: space-between;
    font-size: large;
}
.generate{
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 20px;
}
.generate div{
    font-size: 28px;
    width: 45%;
    background-color: skyblue;
    padding: 20px;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.generate div:hover{
    background-color: green;
}